:root{
/* ## Colors */
/* ### Primary */

--pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

/* ### Neutral */

--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Red Hat Display", sans-serif;    
}
.background{
    width: 100%;
    height: 100vh;
    background-color: var(--pale-blue);    
}
.card{
    width: 100%;
    height: 100vh;
    background: url(images/pattern-background-desktop.svg)no-repeat center;
    background-position: top;
    background-color: var(--pale-blue);
    display: flex;
    flex-direction: column;
    align-items: center;        
}
.box{
    width: 35rem;    
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: var(--Very-pale-blue);    
}
.img{
    width: 100%;
}
.img img{
    width: 100%;
}
.container-title{
    padding: 2.5rem;
    text-align: center;  
    padding-bottom: 0;    
}
.title{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.info-text{
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 1.8rem 0;
    padding-top: 0.5rem;
    margin: 0;
    color: var(--Desaturated-blue);  
}
.shadowbox{
    display: flex;
    background-color: hsla(224, 23%, 55%, 0.03);
    justify-content: space-between;
    align-items: center;
    margin-inline: 3rem;
    border-radius: 10px;
}
.card-plan{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
    padding: 2rem 0;
    margin-inline: 3rem;        
}
.pricecard{
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
}
.plan{
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 0.5rem;    
}
.coment{
    color: var(--Desaturated-blue);
}
.price{
    font-size: 1.4rem;      
}
.change a{
    font-size: 1.4rem;
    margin-inline: 2rem;     
}
.change a:hover{
    text-decoration: none;
}
.btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;    
}

.payment{
    background-color: var(--Bright-blue);
    padding: 1.2rem;
    color: white;
    border: none;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    margin-inline: 3rem;    
}
.payment:hover{
    opacity: 0.6;    
}
.cancel{
    background-color: var(--Very-pale-blue);
    border: none;
    border-radius: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    margin-inline: 10rem;
}
.cancel:hover{
    color: black;
    font-weight: 700;
}
.payment, .cancel{
    cursor: pointer;
    transition: all 0.5s ease;    
}
footer{
    position: absolute;
    bottom: 0;
}
footer a{
    text-decoration: none;
}

@media (max-width: 390px) {
    .box{
        width: 90%;
        height: 90%;
    }
    .shadowbox{
        margin: 1rem;
    }
    
}


